[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[pull]
	rebase = true
# Name and email come from people/<you>/gitconfig, linked by install.sh.
[include]
	path = ~/.config/dotfiles/person/gitconfig
