<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Battery_barChart_position</key>
	<integer>3</integer>
	<key>Battery_batteryDetails_position</key>
	<integer>4</integer>
	<key>Battery_battery_position</key>
	<integer>0</integer>
	<key>Battery_label_position</key>
	<integer>2</integer>
	<key>Battery_mini_position</key>
	<integer>1</integer>
	<key>Battery_state</key>
	<true/>
	<key>Battery_widget</key>
	<string>battery</string>
	<key>LaunchAtLoginNext</key>
	<true/>
	<key>NSToolbar Configuration eu.exelban.Stats.Settings.Toolbar</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>1</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<true/>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>NSWindow Frame eu.exelban.Stats.Settings.WindowFrame</key>
	<string>920 548 728 480 0 0 2560 1410 </string>
	<key>RAM_state</key>
	<true/>
	<key>remote_id</key>
	<string>EFF8D377-B742-4C3D-BCED-8CEA7274E296</string>
	<key>remote_tokens_migrated_to_keychain</key>
	<true/>
	<key>runAtLoginInitialized</key>
	<true/>
	<key>setupProcess</key>
	<true/>
	<key>support_ts</key>
	<integer>1784571419</integer>
	<key>updater_check_ts</key>
	<integer>1786986964</integer>
	<key>updater_install_ts</key>
	<integer>1786387996</integer>
	<key>version</key>
	<string>3.0.11</string>
</dict>
</plist>
