<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSWindow Frame SUUpdateAlert2</key>
	<string>994 778 571 402 0 0 2560 1410 </string>
	<key>SULastCheckTime</key>
	<date>2026-09-04T22:06:28Z</date>
	<key>SUUpdateGroupIdentifier</key>
	<integer>2606390113</integer>
</dict>
</plist>
