<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSNavPanelExpandedSizeForOpenMode</key>
	<string>{880, 448}</string>
	<key>NSOSPLastRootDirectory</key>
	<data>
	Ym9vawwCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAABABAAAEAAAAAwMAAAAAACAMAAAAAQEAAEFwcGxpY2F0aW9ucwQA
	AAABBgAAEAAAAAgAAAAEAwAAAf8MAAAAAAAEAAAAAQYAADAAAAAIAAAAAAQAAEHH9mT3
	gAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAAAAAAAQUAAAgAAAABCQAA
	ZmlsZTovLy8MAAAAAQEAAEtoYW5kU3RvcmFnZQgAAAAEAwAAAFChG3MAAAAkAAAAAQEA
	AEMxMjUwMzI4LTM4OEUtNDY0OC05NkI1LTI0MEQ4MTRCRkMzNRgAAAABAgAAgQAAAAEA
	AADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAtAAAAP7///8BAAAAAAAAAA4AAAAE
	EAAAJAAAAAAAAAAFEAAAQAAAAAAAAAAQEAAAXAAAAAAAAABAEAAATAAAAAAAAAACIAAA
	BAEAAAAAAAAFIAAAhAAAAAAAAAAQIAAAlAAAAAAAAAARIAAAuAAAAAAAAAASIAAAqAAA
	AAAAAAATIAAATAAAAAAAAAAgIAAA5AAAAAAAAAAwIAAAfAAAAAAAAAAB0AAAfAAAAAAA
	AAAQ0AAABAAAAAAAAAA=
	</data>
	<key>NSSplitView Subview Frames main, SidebarNavigationSplitView</key>
	<array>
		<string>0.000000, 0.000000, 258.000000, 732.000000, NO, NO</string>
		<string>0.000000, 0.000000, 1100.000000, 732.000000, NO, NO</string>
	</array>
	<key>NSWindow Frame main</key>
	<string>360 528 1100 732 0 0 2560 1410 </string>
</dict>
</plist>
